{% extends "AppCoder/padre.html" %}


{% block contenidoQueCambia %}

{{ nombre }}
<h1>Borrar Curso: {{curso.curso}}</h1>

<p>Estás seguro que deseas borrar el curso: <strong>{{curso.curso}}</strong> - camada: <strong>{{ curso.camada }}</strong>?</p>
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Eliminar">
</form>
</div>
<div style="margin-top: 20px;">
    <a href="{% url 'curso-list' %}" style="color: #4a90e2; text-decoration: none;">Ver lista de cursos</a>
</div>
</div>
{% endblock %}